<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!--External css-->
  <link rel="stylesheet" href="/static/style.css">
  <title>Welcome to NewsinMail</title>
</head>

<body>
  <!-- Image and text -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/static/fac.jpg" id="fav" alt="" width="36" height="32" class="d-inline-block align-top">
        <span id="nm">News Mail</span>
      </a>
    </div>
  </nav>


  <div class="jumbotron float-end" id="content">
    <h2 class="display-4">Get News in your mail</h2>
    <p>
    <h3 class="info">We provide you news of your specified interest in your mailbox at your convenience</h3>
    </p>
    <p class="lead">
      <a class="btn btn-dark btn-lg" href='/newsApp/subscription' role="button">Get Started</a>
    </p>
  </div>

  <div class="footer">
    <p>Developer : <a href="https://www.linkedin.com/in/vaibhav-sharma-7938711b7/">Vaibhav Sharma</a></p>
  </div>
  
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>

</html>